@{
  Layout = "_Layout";
}

<h1 style="text-align: center;">Pierre's Treats!</h1>


<p>@Html.ActionLink("See All Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("See All Treats", "Index", "Treats")</p>
