@{
  Layout = "_Layout";
}

@model TreatsList.Models.Treat

<h4>Add a New Treat</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add New Treat" />
}
<p>@Html.ActionLink("Show All Treats", "Index")</p>